
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Recipe Haven</title>
    <link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}"> 
</head>
<body>

<header>
    <h1>Welcome to the Recipes App</h1>
</header>


<div class="content">
    <h2>Create and browse a list of recipes.</h2>
    <p>Save information like ingredients and cooking time. </p>
    <p>Search for recipes by ingredients.</p>
</div>

</body>
</html>
